# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out

# production
build
dist
lib

# cache
.cache

# docusaurus
.docusaurus
.cache-loader

# othes
create-home-cloud/cloud
public

# locks
package-lock.json
yarn.lock

# no ignore
!cloud-api/src/lib